torch
torchvision
torchaudio
matplotlib
seaborn
pyyaml
numpy
opencv-python-headless
submitit
braceexpand
webdataset
timm
decord
pandas
einops
beartype
transformers
torchmetrics
h5py
gdown
albumentations
kornia
ipywidgets